
<p id="notice"><%= notice %></p>


<div class="container-main">

  <h2 class="center-text text-fat margin-title text-medium">Current Listings</h2>
    <% @items.each do |item| %>
    <div class="card-horizontal">
       <%= cl_image_tag item.photos, height: 100, width: 100, crop: :fill, :class => "card-horizontal-image" %>
       <div class="card-horizontal-text">
        <p><%= link_to item.name.capitalize, item_path(item) %></p>
          <p><%= item.price %>$ </p>
          </div>
          </div>
        <% end %>


        <h2 class="center-text text-fat margin-title text-medium">Your Current Deals</h2>
        <% @pending_deals.each do |deal| %>
        <div class="card-horizontal">
          <%= cl_image_tag deal.item.photos, height: 100, width: 100, crop: :fill, :class => "card-horizontal-image" %>
        <div class="card-horizontal-text">
        <p style="font-weight:800;"><%= deal.item.name %></p>
        <p style="font-weight:800";><%= deal.duration %> days</p>
       <p style="font-weight:200;">Total: <%= deal.duration * deal.item.price %></p>
       </div>
       </div>
        <% end %>
        <div class="container-button">
          <%= link_to 'New Item', new_item_path, class: "button-large-color" %>
          </div>

</div>
