
<p id="notice"><%= notice %></p>


<div class="container-main">
<h1>Your current listings</h1>
<div class="grid-main">
    <% @items.each do |item| %>
    <div class="card-horizontal">
      <div class="card-horizontal-image">
      <%= image_tag("https://images.unsplash.com/photo-1545203993-f3a6732be268?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80", width: '100px', height: '100px') %>
      </div>
        <p><%= item.name.capitalize %></p>
          <p><%= item.price %></p>
              <%= link_to 'Show', item %>
            </div>

        <% end %>
        </div>
        <h2>Your Current Deals</h2>
        <div class="listings-flex">
        <% @deals.each do |deal| %>
        <div class="main-group">
        <p><%= deal.item.name %></p>
        <p><%= deal.item.price %></p>
        </div>
        <% end %>
        </div>
          <%= link_to 'New Item', new_item_path, class: "button-small" %>
      </div>
