<div class="container-main" style="text-align:center;">
<div class="container-form-address">
  <h2 style="margin:50px 0px;">Hello Pontus</h2>
  <p><%= current_user.address %></p>

  </div>
  </div>


<div class="container-main" style="text-align:center;">
    <h3 class="text-slim">My Deals</h3>

<h2 class="text-slim">Waiting to hear from owner</h2>
  <div class="listings-flex">
  <% @deals.each do |deal| %>
    <% if deal.status == 'pending' %>
        <div class="main-group">
              <p><%= deal.item.name %></p>
              <p><%= deal.item.price %></p>
              <p><%= deal.duration %></p>
        </div>
    <% end %>
  <% end %>
  </div>







<h2>Your Current Deals</h2>

  <div class="listings-flex">
  <% @deals.each do |deal| %>
    <% if deal.status == 'ongoing' %>
        <div class="main-group">
              <p><%= deal.item.name %></p>
              <p><%= deal.item.price %></p>
              <p><%= deal.duration %></p>
        </div>
    <% end %>
  <% end %>
  </div>
  </div>
  </div>
