
<%= simple_form_for([@item, @deal]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :duration, collection: [1, 2, 3, 4, 5, 6, 7], prompt: "How long would you like to rent?" %>
  </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
