<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %>
      <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    </head>
    <body>
      <div class="navbar-main">
        <%= link_to image_tag("logo", :alt => "Image Description", width:140), root_path %>

        <div class="group-navbar">
          <div class="navbar-list">

              <% if user_signed_in? %>
              <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><a class="scroll-event-menu" href="">Find Gear</a></li>
                <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "button-small-red" %></li>
                </ul>
              <% elsif owner_signed_in? %>
              <ul>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "List New Gear", listings_path %></li>
              <li><%= link_to "Log Out", destroy_owner_session_path, method: :delete, :class => "button-small-red" %></li>
              <%= link_to image_tag("profile", :alt => "Image Description", :class => "avatar"), listings_path %>
              </ul>
              <% else %>
              <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Find Gear", items_path, :class => "scroll-event-menu" %></li>
                <li><%= link_to "Rent Gear", listings_path%></li>
                <li><%= link_to "Register", new_user_registration_path, :href => "#popup2" %></li>
                <li><a class="button-small " href="#popup1">Log In</a></li>
                <%= link_to image_tag("profile", :alt => "Image Description", :class => "avatar"), root_path %>
                </ul>
              <% end %>


            <div id="popup2" class="overlay text-center">
              <div class="popup">
                <h2 class="text-center">Register as</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                  <a href="/users/sign_up">User</a>
                  <a href="/owners/sign_up">Owner</a>
                  </div>
                  </div>
                  </div>

            <div id="popup1" class="overlay text-center">
              <div class="popup">
                <h2 class="text-center">Sign in as</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                  <a href="/users/sign_in">User</a>
                  <a href="/owners/sign_in">Owner</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>

      <div class="footer-main">
        <div class="footer-text">
          <h2>PierceGear</h2>
          <ul>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Find Gear</a>
            </li>
            <li>
              <a href="">Rent Gear</a>
            </li>
            <li>
              <a href="">Register</a>
            </li>
            <li>
              <a href="">Log In</a>
            </li>
          </ul>
          <p>© PierceGear International LTD.</p>
        </div>
      </div>

    </body>
  </html>
