<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="navbar-main">
  <%= image_tag "logo.png", alt: "Le Wagon", width: 120%>
<div class="group-navbar">
  <div class="navbar-list">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Find Gear", items_path %></li>
    <li><a href="">Rent Gear</a></li>
    <li><%= link_to "Register", new_user_registration_path %></li>
    <li><%= link_to "Log In", new_user_session_path, class: "button-small" %></li>

  </ul>
</div>
</div>
</div>


</div>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

<div class="footer-main">
  <div class="footer-text">
    <h2>PierceGear</h2>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Find Gear</a></li>
        <li><a href="">Rent Gear</a></li>
        <li><a href="">Register</a></li>
        <li><a href="">Log In</a></li>
      </ul>
      <p>© PierceGear International LTD.</p>
    </div>
  </div>

  </body>
</html>
